:root {
    --smaller: .75;
    --anim: 6s;

    --accept_bg: #3CB371CC;
    --reject_bg: #DC143CCC;
    --accept_color: #3CB371;
    --reject_color: #DC143C;

    --title_color: #ffffff;
    --font_color: #444444;
    --font_dark_color: #222222;

    --bg_element: #ffffff;
    --bg_element_focus: #f5f5f5;



}

* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
    background: linear-gradient(180deg, rgba(131,124,180,1) 0%, rgba(255,219,220,1) 63%, rgba(254,252,252,1) 96%);
}

#main {
    height: 100vh;
    width: 100vw;
    opacity: 0;
    background-image: url(../img/2.svg);
    background-size: cover;
    background-position: center;
    align-items: center;
    background-color: linear-gradient(180deg, rgba(131,124,180,1) 0%, rgba(255,219,220,1) 63%, rgba(254,252,252,1) 96%);
    display: flex;
    font-family: 'Dosis', sans-serif;
    animation: forwards 1.5s ease-in-out backimage;
}

@keyframes backimage {
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#title {
    font-weight: normal;
    letter-spacing: .125rem;
    text-transform: uppercase;
}

form {
    width: 90%;
}

li {
    display: inline-block;
    font-size: 1.5em;
    list-style-type: none;
    padding: 1em;
    text-transform: uppercase;
}

li span {
    display: block;
    font-size: 4.5rem;
}

#footer-notice {
    position: absolute;
    bottom: 3%;
    width: 100%;
    text-align: center;
}

.text-notice {
    font-family: 'Quicksand', sans-serif;
    font-size: small;
    color: white;
    text-decoration: none;
}

.text-notice:hover {
    color: #ffd54f;
}

.text-notice:nth-last-child(1) {
    margin-left: 3em;
}

.content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 50vw;
    width: 100%;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content h1 {
    font-weight: 400;
    text-align: center;
    margin-bottom: 60px;
    letter-spacing: 10px;
    color: var(--title_color);
}

@media only screen and (min-width: 990px) {
    .content h1 {
        font-size: 12vw;
    }
}

@media screen and (max-width: 990px) {
    .content h1 {
        font-size: 18vw;
    }
}

.fiouuuuuuuuuuuuuu {
    height: 85%;
    aspect-ratio: 1/1;
    fill: var(--font_color);
    margin: 0 1vw 0 1.5vw;
    z-index: 999;
}

#gps {
    height: 85%;
    aspect-ratio: 1/1;
    fill: var(--font_color);
    margin: 0 1vw 0 1.5vw;
    z-index: 998;
    cursor: pointer;
}

.search-spacer {
    height: 100%;
    aspect-ratio: 1/1;
    margin: 0 3% 0 0;
}

.fiou-start {
    animation: var(--anim) linear traino;
}

.fiou-end {
    transform: translateX(1000px);
}

.container-countdown {
    color: var(--title_color);
    margin: 0 auto;
    text-align: center;
    margin-bottom: 25vh;
}

.popup {
    position: fixed;
    bottom: -35vh;
    right: 5vw;
    width: 25vw;
    /* height: 20vh; */
    padding: 15px;
    border-radius: 15px;
    background: var(--bg_element);
    opacity: 0.95;
    z-index: 999;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-family: 'Dosis', sans-serif;
}

.popup-in {
    animation: forwards 1.5s ease-out popup;
}

.popup h2 {
    font-size: 1.5rem;
    font-weight: 400;
    margin: 0;
    text-align: center;
}

.popup p {
    color: var(--font_color);
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
    width: 100%;
}

#cookie {
    width: 100%;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.popup button {
    font-size: 1.3rem;
    margin: 0 auto;
    padding: 5px 8px;
    border-radius: 7px;
    cursor: pointer;
    border: none;
}

#accept:hover {
    background: var(--accept_bg);
}

#refuse:hover {
    background: var(--reject_bg);
}

@keyframes popup {
    100% {
        bottom: 2vh;
    }
}

/* ----------------------------- classList START ---------------------------- */
.hidden {
    visibility: hidden;
}

.reveal {
    visibility: visible;
}

/* ------------------------------ classList END ----------------------------- */

#searchbar {
    width: 80vw;
    max-width: 700px;
    height: 60px;
    /* border: 2px solid #; */
    border-radius: 50px;
    font-size: 20px;
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: var(--bg_element);
    /* opacity: 0.8; */
}

#searchbar:focus {
    background-color: var(--bg_element_focus);
}

#search {
    width: 80%;
    height: 80%;
    border: none;
    background-color: transparent;
    color: var(--font_dark_color);
    font-size: 28px;
    font-family: 'Dosis', sans-serif;
    font-weight: 400;
    outline: none;
}

@media all and (max-width: 768px) {
    h1 {
        font-size: calc(1.5rem * var(--smaller));
    }

    li {
        font-size: calc(1.125rem * var(--smaller));
    }

    li span {
        font-size: calc(3.375rem * var(--smaller));
    }
    
}

@media all and (max-width: 990px) {
    .popup {
        width: 45vw;
        height: 20vh;
        padding: 15px;
    }
    .popup h2 {
        font-size: 1.8rem;
    }
    .popup p{
        font-size: 1.4rem;
    }
    .popup button {
        font-size: 1.6rem;
    }
}
@media all and (max-width: 550px) {
    .popup {
        width: 80vw;
        height: 20vh;
        padding: 15px;
    }
    .popup h2 {
        font-size: 1.6rem;
    }
    .popup p{
        font-size: 1.2rem;
    }
    .popup button {
        font-size: 1.4rem;
    }
    #accept {
        color: var(--accept_color);
    }
    #refuse {
        color: var(--reject_color);
    }
    .fiouuuuuuuuuuuuuu {
        height: 85%;
        aspect-ratio: 1/1;
        fill: var(--font_color);
        margin: 0 1vw 0 3vw;
        z-index: 999;
    }
    .gps {
        height: 85%;
        aspect-ratio: 1/1;
        fill: var(--font_color);
        margin: 0 3vw 0 3vw;
        z-index: 998;
        cursor: pointer;
    }
}

@media (min-width: 600px) and (max-width: 1325px) and (orientation: landscape) {


    #searchbar {
        position: fixed;
        top: 92%;
    }

}

@keyframes traino {
    40% {
        transform: translateX(40vw);
    }

    66% {
        transform: translateX(80vw) translateY(-15vw) rotate(-25deg);
    }

    66.1% {
        transform: translateX(-80vw) translateY(-15vw) rotate(25deg);
    }

    100% {
        transform: translateX(0vw) translateY(0vw) rotate(0deg);
    }
}