:root {
    --smaller: .75;
    --anim: 6s;
}
/* RESET FOR ALL BROWSERS */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* END RESET FOR ALL BROWSERS */

html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

#opaque {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgb(0, 0, 0);
    opacity: 0.15;
    z-index: -1;
}

#main {
    height: 100vh;
    width: 100vw;
    /* background: rgb(23,19,93);
    background: linear-gradient(36deg, rgba(23,19,93,1) 0%, rgba(31,31,85,1) 25%, rgba(71,50,111,1) 50%, rgba(46,8,77,1) 75%, rgba(48,0,103,1) 100%); */
    background-image: url(./img/2.svg);
    background-size: cover;
    background-position: center;
    align-items: center;
    background-color: #ffd54f;
    display: flex;
    font-family: 'Dosis', sans-serif;

}

h1 {
    font-weight: normal;
    letter-spacing: .125rem;
    text-transform: uppercase;
}

h1 {
    margin: 0;
}

form {
    width: 90%;
}

li {
    display: inline-block;
    font-size: 1.5em;
    list-style-type: none;
    padding: 1em;
    text-transform: uppercase;
}

li span {
    display: block;
    font-size: 4.5rem;
}

.legal-notice {
    word-spacing: 3px;
    font-family: 'Quicksand', sans-serif;
    font-size: small;
    color: black;
    position: absolute;
    bottom: 3%;
    width: 100%;
    text-align: center;
    text-decoration: none;

}

.content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 50vw;
    width: 100%;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content h1 {
    font-weight: 400;
    text-align: center;
    margin-bottom: 60px;
    letter-spacing: 10px;
    color: #D8CDCD;
}

@media only screen and (min-width: 990px) {
    .content h1 {
        font-size: 12vw;
    }
}

@media screen and (max-width: 990px) {
    .content h1 {
        font-size: 18vw;
    }
}

.fiouuuuuuuuuuuuuu {
    height: 85%;
    aspect-ratio: 1/1;
    fill: #444444;
    margin: 0 1vw 0 1.5vw;
    z-index: 999;
}

#gps {
    height: 85%;
    aspect-ratio: 1/1;
    fill: #444444;
    margin: 0 1vw 0 1.5vw;
    z-index: 998;
    cursor: pointer;
}

.search-spacer {
    height: 100%;
    aspect-ratio: 1/1;
    margin: 0 3% 0 0;
}

.fiou-start {
    animation: var(--anim) linear traino;
}

.fiou-end {
    transform: translateX(1000px);
}

.container-countdown {
    color: white;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 25vh;
}

.popup {
    position: fixed;
    bottom: -35vh;
    right: 5vw;
    width: 25vw;
    height: 20vh;
    padding: 15px;
    border-radius: 15px;
    background: rgb(190, 190, 190);
    opacity: 0.95;
    z-index: 999;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-family: 'Dosis', sans-serif;
    animation: forwards 1.5s ease-out popup;
}
.popup h1 {
    font-size: 1.5rem;
    font-weight: 400;
    margin: 0;
    text-align: center;
}
.popup p {
    color: #444444;
    font-size: 0.8rem;
    font-weight: 600;
    text-align: center;
    width: 100%;
}
#cookie {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.popup button {
    font-size: 1.1rem;
    margin: 0 auto;
    padding: 5px 8px;
    border-radius: 7px;
    cursor: pointer;
    border: none;
}
#accept:hover {
    background: #1dd90cab;
}
#refuse:hover {
    background: #d91d1dab;
}
@keyframes popup {
    100% {
        bottom: 2vh;
    }
}
/* ----------------------------- classList START ---------------------------- */
.hidden {
    visibility: hidden;
}

.reveal {
    visibility: visible;
}

/* ------------------------------ classList END ----------------------------- */

#searchbar {
    width: 80vw;
    max-width: 700px;
    height: 60px;
    /* border: 2px solid #; */
    border-radius: 50px;
    font-size: 20px;
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: grey;
    /* opacity: 0.8; */
}

#searchbar:focus {
    background-color: #7c7c7c;
}

#search {
    width: 80%;
    height: 80%;
    border: none;
    background-color: transparent;
    color: #131313;
    font-size: 28px;
    font-family: 'Dosis', sans-serif;
    font-weight: 400;
    outline: none;
}

@media all and (max-width: 768px) {
    h1 {
        font-size: calc(1.5rem * var(--smaller));
    }

    li {
        font-size: calc(1.125rem * var(--smaller));
    }

    li span {
        font-size: calc(3.375rem * var(--smaller));
    }
    
}
@media all and (max-width: 990px) {
    .popup {
        width: 45vw;
        height: 20vh;
        padding: 15px;
    }
    .popup h1 {
        font-size: 1.8rem;
    }
    .popup p{
        font-size: 1.6rem;
    }
    .popup button {
        font-size: 2rem;
    }
}
    


@media (min-width: 600px) and (max-width: 1325px) and (orientation: landscape) {


    #searchbar {
        position: fixed;
        top: 92%;
    }

}

@keyframes traino {
    40% {
        transform: translateX(40vw);
    }

    66% {
        transform: translateX(80vw) translateY(-15vw) rotate(-25deg);
    }

    66.1% {
        transform: translateX(-80vw) translateY(-15vw) rotate(25deg);
    }

    100% {
        transform: translateX(0vw) translateY(0vw) rotate(0deg);
    }
}

@keyframes dissapear {
    0% {}

    100% {
        width: 0;
        margin-left: 100%;
    }
}