:root {
    --smaller: .75;
    --anim: 6s;
}

* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
    background: linear-gradient(180deg, rgba(131,124,180,1) 0%, rgba(255,219,220,1) 63%, rgba(254,252,252,1) 96%);
}

#main {
    height: 100vh;
    width: 100vw;
    opacity: 0;
    background-image: url(./img/2.svg);
    background-size: cover;
    background-position: center;
    align-items: center;
    background-color: linear-gradient(180deg, rgba(131,124,180,1) 0%, rgba(255,219,220,1) 63%, rgba(254,252,252,1) 96%);
    display: flex;
    font-family: 'Dosis', sans-serif;
    animation: forwards 1.5s ease-in-out backimage;
}

@keyframes backimage {
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

h1 {
    font-weight: normal;
    letter-spacing: .125rem;
    text-transform: uppercase;
    margin: 0;
}

form {
    width: 90%;
}

li {
    display: inline-block;
    font-size: 1.5em;
    list-style-type: none;
    padding: 1em;
    text-transform: uppercase;
}

li span {
    display: block;
    font-size: 4.5rem;
}

.legal-notice {
    word-spacing: 3px;
    font-family: 'Quicksand', sans-serif;
    font-size: small;
    color: black;
    position: absolute;
    bottom: 3%;
    width: 100%;
    text-align: center;
    text-decoration: none;

}

.content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 50vw;
    width: 100%;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content h1 {
    font-weight: 400;
    text-align: center;
    margin-bottom: 60px;
    letter-spacing: 10px;
    color: #fcf3f3;
}

@media only screen and (min-width: 990px) {
    .content h1 {
        font-size: 12vw;
    }
}

@media screen and (max-width: 990px) {
    .content h1 {
        font-size: 18vw;
    }
}

.fiouuuuuuuuuuuuuu {
    height: 85%;
    aspect-ratio: 1/1;
    fill: #444444;
    margin: 0 1vw 0 1.5vw;
    z-index: 999;
}

#gps {
    height: 85%;
    aspect-ratio: 1/1;
    fill: #444444;
    margin: 0 1vw 0 1.5vw;
    z-index: 998;
    cursor: pointer;
}

.search-spacer {
    height: 100%;
    aspect-ratio: 1/1;
    margin: 0 3% 0 0;
}

.fiou-start {
    animation: var(--anim) linear traino;
}

.fiou-end {
    transform: translateX(1000px);
}

.container-countdown {
    color: white;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 25vh;
}

.popup {
    position: fixed;
    bottom: -35vh;
    right: 5vw;
    width: 25vw;
    height: 20vh;
    padding: 15px;
    border-radius: 15px;
    background: rgb(190, 190, 190);
    opacity: 0.95;
    z-index: 999;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-family: 'Dosis', sans-serif;
}
.popup-in {
    animation: forwards 1.5s ease-out popup;
}
.popup-out {
    animation: 1.5s ease-out popupout reverse;
}
.popup h1 {
    font-size: 1.5rem;
    font-weight: 400;
    margin: 0;
    text-align: center;
}
.popup p {
    color: #444444;
    font-size: 0.8rem;
    font-weight: 600;
    text-align: center;
    width: 100%;
}
#cookie {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.popup button {
    font-size: 1.1rem;
    margin: 0 auto;
    padding: 5px 8px;
    border-radius: 7px;
    cursor: pointer;
    border: none;
}
#accept:hover {
    background: #1dd90cab;
}
#refuse:hover {
    background: #d91d1dab;
}
@keyframes popup {
    100% {
        bottom: 2vh;
    }
}
@keyframes popupout {
    100% {
        transform: translateY(150vh);
    }
}
/* ----------------------------- classList START ---------------------------- */
.hidden {
    visibility: hidden;
}

.reveal {
    visibility: visible;
}

/* ------------------------------ classList END ----------------------------- */

#searchbar {
    width: 80vw;
    max-width: 700px;
    height: 60px;
    /* border: 2px solid #; */
    border-radius: 50px;
    font-size: 20px;
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: grey;
    /* opacity: 0.8; */
}

#searchbar:focus {
    background-color: #7c7c7c;
}

#search {
    width: 80%;
    height: 80%;
    border: none;
    background-color: transparent;
    color: #131313;
    font-size: 28px;
    font-family: 'Dosis', sans-serif;
    font-weight: 400;
    outline: none;
}

@media all and (max-width: 768px) {
    h1 {
        font-size: calc(1.5rem * var(--smaller));
    }

    li {
        font-size: calc(1.125rem * var(--smaller));
    }

    li span {
        font-size: calc(3.375rem * var(--smaller));
    }
    
}
@media all and (max-width: 990px) {
    .popup {
        width: 45vw;
        height: 20vh;
        padding: 15px;
    }
    .popup h1 {
        font-size: 1.8rem;
    }
    .popup p{
        font-size: 1.6rem;
    }
    .popup button {
        font-size: 2rem;
    }
}


@media (min-width: 600px) and (max-width: 1325px) and (orientation: landscape) {


    #searchbar {
        position: fixed;
        top: 92%;
    }

}

@keyframes traino {
    40% {
        transform: translateX(40vw);
    }

    66% {
        transform: translateX(80vw) translateY(-15vw) rotate(-25deg);
    }

    66.1% {
        transform: translateX(-80vw) translateY(-15vw) rotate(25deg);
    }

    100% {
        transform: translateX(0vw) translateY(0vw) rotate(0deg);
    }
}

@keyframes dissapear {
    0% {}

    100% {
        width: 0;
        margin-left: 100%;
    }
}