:root {
    --smaller: .75;
    --anim: 6s;
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

#opaque {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgb(0, 0, 0);
    opacity: 0.15;
}

body {
    height: 100vh;
    width: 100vw;
    /* background: rgb(23,19,93);
    background: linear-gradient(36deg, rgba(23,19,93,1) 0%, rgba(31,31,85,1) 25%, rgba(71,50,111,1) 50%, rgba(46,8,77,1) 75%, rgba(48,0,103,1) 100%); */
    background-image: url(./img/2.svg);
    background-size: cover;
    background-position: center;
    align-items: center;
    background-color: #ffd54f;
    display: flex;
    font-family: 'Dosis', sans-serif;

}

h1 {
    font-weight: normal;
    letter-spacing: .125rem;
    text-transform: uppercase;
}

body, h1 {
    margin: 0;
}

form {
    width: 90%;
}

li {
    display: inline-block;
    font-size: 1.5em;
    list-style-type: none;
    padding: 1em;
    text-transform: uppercase;
}

li span {
    display: block;
    font-size: 4.5rem;
}

.content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 50vw;
    width: 100%;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content h1 {
    font-weight: 400;
    text-align: center;
    margin-bottom: 60px;
    letter-spacing: 10px;
    color: #D8CDCD;
}

@media only screen and (min-width: 990px) {
    .content h1 {
        font-size: 12vw;
    }
}

@media screen and (max-width: 990px) {
    .content h1 {
        font-size: 18vw;
    }
}

.fiouuuuuuuuuuuuuu {
    height: 85%;
    aspect-ratio: 1/1;
    fill: #A1A1A1;
    margin: 0 1vw 0 1.5vw;
    z-index: 999;
}

#gps {
    height: 85%;
    aspect-ratio: 1/1;
    fill: #A1A1A1;
    margin: 0 1vw 0 1.5vw;
    z-index: 998;
    cursor: pointer;
}

.search-spacer {
    height: 100%;
    aspect-ratio: 1/1;
    margin: 0 3% 0 0;
}

.fiou-start {
    animation: var(--anim) linear traino;
}

.fiou-end {
    transform: translateX(1000px);
}

.container-countdown {
    color: white;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 25vh;
}

/* ----------------------------- classList START ---------------------------- */
.hidden {
    visibility: hidden;
}

.reveal {
    visibility: visible;
}

/* ------------------------------ classList END ----------------------------- */

#searchbar {
    width: 80vw;
    max-width: 700px;
    height: 60px;
    /* border: 2px solid #; */
    border-radius: 50px;
    font-size: 20px;
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: #7A8DCB;
    /* opacity: 0.8; */
}

#searchbar:focus {
    background-color: #7c7c7c;
}

#search {
    width: 80%;
    height: 80%;
    border: none;
    background-color: transparent;
    color: #808080;
    font-size: 28px;
    font-family: 'Dosis', sans-serif;
    font-weight: 400;
    outline: none;
}

@media all and (max-width: 768px) {
    h1 {
        font-size: calc(1.5rem * var(--smaller));
    }

    li {
        font-size: calc(1.125rem * var(--smaller));
    }

    li span {
        font-size: calc(3.375rem * var(--smaller));
    }
}

@media (min-width: 600px) and (max-width: 1325px) and (orientation: landscape) {

    
    #searchbar{
        position: fixed;
        top: 92%;
    }

}

@keyframes traino {
    40% {
        transform: translateX(40vw);
    }

    66% {
        transform: translateX(80vw) translateY(-15vw) rotate(-25deg);
    }

    66.1% {
        transform: translateX(-80vw) translateY(-15vw) rotate(25deg);
    }

    100% {
        transform: translateX(0vw) translateY(0vw) rotate(0deg);
    }
}

@keyframes dissapear {
    0% {}

    100% {
        width: 0;
        margin-left: 100%;
    }
}